body{
  background-color: #000;
  font-family: Helvetica, Arial, sans serif;
}
*{
  box-sizing: border-box;
}
.container{
  background-color: #fff;
  width: 600px;
  height: 400px;
  margin: auto; 
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.barra{
  height: calc((100% - 15px)/5);
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-right: 10px;
  background-color: #ff0099;
}
.barra.eua{
  height: 91.76%;
  background-color: orange;
}
.barra.china{
  height: 67.44%;
  background-color: red;
}
.barra.japao{
  height: 20.40%;
  background-color: purple;
}
.barra.alemanha{
  height: 16.92%;
  background-color: green;
}
.barra.reino-unido{
  height: 12.44%;
  background-color: grey;
}